# База данных (PostgreSQL)
DB_USER=postgres
DB_PASSWORD=
DB_NAME=maturin

# Redis
REDIS_PASSWORD=

# JWT
JWT_SECRET=secret

# SMTP (Beget)
SMTP_HOST=smtp.beget.com
SMTP_PORT=465
SMTP_USER=noreply@imaginelipa.ru
SMTP_PASSWORD=
